<!DOCTYPE html>
<html lang="zh" >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="ihowe,ihowe@outlook.com">
    <meta name="keywords" content="js,cocos,creator,iap,ezplugin" />
    <title>howe.ho</title>
    <link type="favicon" rel="shortcut icon" href="favicon.ico" />
    <!-- Icon库-->
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <!--[if IE]>
    <!--<script src="js/html5.js"></script>-->
    <![endif]-->
    <link   href="assets/css/common.css" rel="stylesheet" type="text/css"  />
    <link   href="assets/css/menu_sideslide.css" rel="stylesheet" type="text/css"  />
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?618136bd1442724f4598ba6390c39fbf";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
<div id="mainDiv" :class="{'show-menu': isShowMenu}">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top navbarzindex">
        <img class="rounded-circle" style="cursor: pointer;margin-right: 20px"
             v-bind:src="author.icon" width="32" @click="toggleMenus"/>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <span class="navbar-text mr-auto">{{pageInfo.title}}</span>
            <form class="form-inline my-2 my-lg-0" style="position: relative;">
                <span class="fa fa-search" style="position: absolute;margin-left: 7px;bottom: 12px"></span>
                <input class="form-control" style=" padding-left: 30px;" type="text"
                       placeholder="Search" aria-label="Search" id="searchInput" data-provide="typeahead"/>
                <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            </form>
        </div>
    </nav>
    <div v-show="isShowMenu" class="menu_mask topzindex" @click="toggleMenus"></div>
    <div class="menu-wrap topzindex" align="center">
        <div class="menuBg " style="z-index: -1"></div>
        <div style="margin-top: 10px;margin-bottom: 15px;">
            <img :src="author.img" class="rounded-circle" style="border:4px solid white;"  width="100" height="100"/>
        </div>
        <div style="padding:6px 10px;">
            <button class="menu-button-tag"  v-for="tag in menuTags" @click="menuTagClick">{{tag}}</button>
        </div>
        <div class="fixed-bottom" style="bottom: 30px;color: #b1b1b1;">
            <p>{{author.career}} <i class="fa fa-map-marker"></i>{{author.address}}</p>
            <p style="font-size: 0.6em;">{{author.desc}}</p>
        </div>
        <div class="fixed-bottom menu-tab-link-icon">
            <a href="https://weibo.com/haroel" target="_blank" class="menu-social-icon-n">
                <i class='social fa fa-weibo'></i>
            </a>
            <a href="https://github.com/haroel" target="_blank" class="menu-social-icon">
                <i class='social fa fa-github'></i>
            </a>
            <a href="tencent://message/?uin=2831275626&Site=&Menu=yes" target="_blank" class="menu-social-icon-n">
                <i class='social fa fa-qq'></i>
            </a>
            <a href="mailto:ihowe@outlook.com" target="_blank" class="menu-social-icon">
                <i class='social fa fa-envelope-o'></i>
            </a>
        </div>
    </div>
    <div class="content-wrap">
        <div style="margin-top: 80px;margin-left: 10%;margin-right:10%;">
            <div v-if="contentType === 0" style="width: 100%">
                <h4 v-if="pageInfo.date">{{pageInfo.title}}</h4>
                <p  v-if="pageInfo.tags">标签 <span class="LabelTag" v-for="tag in pageInfo.tags">{{tag}}</span></p>
                <p  v-if="pageInfo.date" class="dateText">日期 {{formatDate(pageInfo.date)}}</p>
                <div id="content"></div>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-success"
                            data-toggle="modal" data-target="#rewardModal">捐赠</button>
                </div>
                <div style="margin-top: 20px;">
                    <hr v-if="prevData || nextData" style="height:1px;border:none;border-top:1px dashed #0066CC;" />
                    <h6 v-if="prevData"><a v-bind:href="'?md=' + prevData.file">上一篇：{{prevData.title}}</a></h6>
                    <h6 v-if="nextData"><a v-bind:href="'?md=' + nextData.file">下一篇：{{nextData.title}}</a></h6>
                </div>
            </div>
            <div v-if="contentType === 1" >
                <div class="ItemRenderer" style="margin-top: 33px;"
                     v-for="item in articles.tags" v-bind:key="item.data.lastUpdate.toString()">
                    <a v-bind:href="'?tag=' + item.name " class="LabelTag" >{{item.name}}  ({{item.data.count}})</a>
                    <p class="dateText">最后更新 {{formatDate(item.data.lastUpdate)}}</p>
                </div>
            </div>
            <div v-if="contentType === 2">
                <div class="ItemRenderer" style="margin-top: 33px;"
                     v-bind:key="item.date" v-for="item in Articles">
                    <h5><a v-bind:href="'?md=' + item.file ">{{item.title}}</a></h5>
                    <p>标签 <span class="LabelTag" v-for="tag in item.tags">{{tag}}</span></p>
                    <p class="dateText">日期 {{formatDate(item.date)}}</p>
                </div>
            </div>
            <div v-if="contentType === 3">
                {{pageContent}}
            </div>
            <div v-if="contentType === 4">
                {{pageContent}}
                <!--<div class="row">-->
                    <!--<div class="col-6 col-md-4 card" style="width: 20rem;" v-for="cardInfo in toolsList">-->
                        <!--&lt;!&ndash;<img class="card-img-top" src="..." alt="Card image cap">&ndash;&gt;-->
                        <!--<div class="card-body">-->
                            <!--<h4 class="card-title">{{cardInfo.title}}</h4>-->
                            <!--<p class="card-text">{{cardInfo.text}}</p>-->
                            <!--<a href="http://www.wbus.cn/busWeb/myAround.jsp" class="btn btn-primary">查询公交</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="fixed-bottom footer highzindex">
        <p> @{{new Date().getFullYear()}} <a v-bind:href="'mailto:'+author.email">Power by {{author.name}}</a>. <small>{{author.version}}</small></p>
    </div>
    <div class="loading" v-if="showLoading" >
        <div style="text-align: center">
            <img class="img-circle" src="https://tva4.sinaimg.cn/crop.0.0.180.180.180/6d0d5ef5jw1e8qgp5bmzyj2050050aa8.jpg"
                 width="40"/>
            <br/><br/>
            <p>LOADING</p>
        </div>
    </div>
    <div class="modal fade" id="rewardModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">感谢您的支持鼓励！</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="d-flex justify-content-center">
                            <img v-if="rewardType==0" src="assets/img/alipay.png" alt="扫码支持" title="支付宝扫一扫" />
                            <img v-if="rewardType==1" src="assets/img/weixin.png" alt="扫码支持" title="微信扫一扫"></div>
                        </div>
                        <div class="d-flex justify-content-around" style="padding: 10px">
                            <img src="assets/img/alipay_icon.png" alt="支付宝"
                                 class="img_frame" :class="{img_frame_selected:rewardType==0}" @click="selectAlipay"/>
                            <img src="assets/img/wechat_icon.jpg" alt="微信"
                                 class="img_frame" :class="{img_frame_selected:rewardType==1}" @click="selectWechat"/>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center shang_info">
                        <p>捐赠不分多少，一份心意</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.11.0/umd/popper.min.js" ></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

<script src="assets/js/vue.min.js"></script>
<!--<script src="https://unpkg.com/vue/dist/vue.js"></script>-->
<script src="https://cdn.bootcss.com/showdown/1.6.4/showdown.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

<script src="assets/js/marked.min.js"></script>

<script src="assets/js/bootstrap-typeahead.js"></script>
<script src="assets/v/config.js"></script>
<script src="assets/v/datamodel.js"></script>
<script src="assets/v/vSite.js"></script>
</body>
</html>