
body.common
{
    background-color:#eee;
}
a:link,
a:visited,
a:hover{
    text-decoration:none;  /*超链接无下划线*/
}

.topzindex
{
    z-index: 1002;
}

.highzindex
{
    z-index: 1001;
}
.navbarzindex
{
    z-index: 1000;
}

div.common
{
    width: 100%;
    height: 100%;
    overflow:hidden;
}
div.content-wrap
{
    overflow:hidden;
    margin-bottom: 60px;
    left: 10em;
    right: 10em;
}
div.margin-top
{
    margin-top:70px;
}
div.margin-gap
{
    margin-top:30px;
}

div.footLine
{
    border-top:1px solid #C0C0C0;
    width: 80%;
    margin:auto;
}
div.footer
{
    text-align:center;
    vertical-align:middle;
    background-color: #eeeeee;
    padding:15px auto 10px;
}

.logo {
    border-radius: 50%;
    border: 3px solid #FFF;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
}

ul.outside
{
    list-style-position: outside
}

.post-content { margin-bottom: 30px; }
.post-content h2 { font-size: 32px; }
@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }
.post-content h3 { font-size: 26px; }
@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }
.post-content h4 { font-size: 20px; }
@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

div.itemHover {
    cursor:pointer ;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid transparent;
    /*border-radius: 10px;*/
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
}

div.itemHover:hover,
div.itemHover:focus,
div.itemHover.active {
    border-color: #ddd;
}

.center-vertical {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
div.ItemRenderer
{
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;

    border-bottom: 1px solid #ddd;
}
div.ItemRenderer:hover,
div.ItemRenderer:focus,
div.ItemRenderer.active {
    border-bottom: 1px solid #aaa;
}
.LabelTag
{
    -webkit-transition: border .3s ease-in-out;
    -o-transition: border .3s ease-in-out;
    transition: border .3s ease-in-out;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2px 5px;
    cursor: pointer;
    margin-left: 4px;
    margin-right: 4px;
    background: transparent;
    line-height: 26px;
}
.LabelTag:hover,
.LabelTag:focus,
.LabelTag.active {
     border: 1px solid #005AB5;
 }

.Center-Container {
    margin:0 auto;
    width: 400px;
    height: 150px;
    text-align:center; /* 文字等内容居中 */
}

.loading
{
    z-index: 1100;
    position: fixed;
    top:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    /*vertical-align: middle;*/
    background-color: #FFFFFF;
    /*text-align: center;*/

    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.btn.active.focus, .btn.active:focus,.btn.focus, .btn:active.focus,.btn:active:focus, .btn:focus {
    　　outline:0;
}